{% load static %}
<!DOCTYPE html>
<html lang="pt-BR" data-theme="dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Libre RPG</title>
        {% load static %}
        {# <link rel="stylesheet" href="{% static 'css/style.css' %}"> #}
    </head>
    <body>
        {# TODO: Remove temporary style #}
        <div style="display: flex; flex-direction: row; gap: 2vw;">
            {# Sidebar #}
            {# TODO: Remove temporary style #}
            <div style="border-right: 1px solid black; padding: 0 1vw;">
                {# TODO: Implement toggle sidebar button #}
                {# <button title="Alternar barra lateral">Exibir/Esconder barra lateral</button> #}

                {# Header #}
                <div>
                    <h2>LibreRPG</h2>
                    <div>{{ campaign.name }}</div>
                    <div>{{ campaign.description }}</div>
                </div>

                {# Navigation menu #}
                <h4>Navegação</h4>

                {# FIXME: add button href later when implemented #}
                {# Sidebar table option#}
                <ul>
                    <li>
                        <a {% if page_name == "dashboard" %} href="#" {% else %} href="#" {% endif %}>
                            Mesa
                        </a>
                    </li>

                    {# Live chat option#}
                    <li>
                        <a {% if page_name == "chat" %} href="#" {% else %} href="{% url 'chat' campaign.pk %}" {% endif %}>
                            Chat
                        </a>
                    </li>

                    {# Character sheet option#}
                    <li>
                        <a {% if page_name == "char_sheet" %} href="#" {% else %} href="{% url 'char_sheet' campaign.pk %}" {% endif %}>
                            Fichas
                        </a>
                    </li>
                </ul>

                {# Session related menu #}
                <h4>Sessão</h4>

                {# Configurations option#}
                <ul>
                    <li>
                        <a {% if page_name == "config" %} href="#" {% else %} href="{% url 'config' campaign.pk %}" {% endif %}>
                            Configurações
                        </a>
                    </li>

                    {# Players list option#}
                    <li>
                        <a {% if page_name == "players_list" %} href="#" {% else %}  href="{% url 'players_list' campaign.pk %}" {% endif %}>
                            Jogadores
                        </a>
                    </li>
                </ul>

                {# Project related menu #}
                <h4>Sobre o projeto</h4>

                {# About option#}
                <ul>
                    <li>
                        <a href="https://github.com/Anthhon/libre-rpg/" target="blank">Repositório do projeto</a>
                    </li>
                    {# TODO: Implement an official project colaborators page #}
                </ul>

                {# Sidebar footer #}
                <div>
                    {# User picture #}
                    {# TODO: Remove temporary style #}
                    <img {% if profile.profile_picture %} src="{{ profile.profile_picture.url }}" {% else %} src="{{MEDIA_URL}}/img/default_picture.webp" {% endif %} alt="user_picture" style="max-height: 50px;">

                    {# User name #}
                    <div>
                        {% if profile.nickname %}
                        {{ profile.nickname }}
                        {% else %}
                        {{ profile.user.username }}
                        {% endif %}
                    </div>

                    {# User role #}
                    <div>[[MESTRE/JOGADOR]] - [[CLASSE]]</div>
                </div>
            </div>

            {# Main #}
            {# TODO: Remove temporary style #}
            <div style="width: -moz-available;">
                {# Topbar #}
                {# TODO: Remove temporary style #}
                <div style="display: flex; flex-direction: row; gap: 1vw; align-items: center; border: 1px solid black; padding: 0 1vw; margin-bottom: 4vh; justify-content: space-between;">
                    <h4>{% block panel_name %}{% endblock %} - {% block panel_desc %}{% endblock %}</h4>

                    {# TODO: Remove temporary style #}
                    <small style="display: flex; gap: 1vw; align-items: center; justify-content: right;">
                        <a href="#" title="Ajuda">Ajuda</button>
                        <a href="#" title="Notificações">Notificações</button>
                        {% if user.is_superuser %}
                        <a href="{% url 'admin:index' %}" title="Painel Admin">Painel de Admin</a>
                        {% endif %}
                        <a href="{% url 'logout' %}" title="Sair" onclick="return confirm('Tem certeza que deseja sair da sua conta?')">Sair</a>
                    </small>
                </div>

                {# Content #}
                <div>
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

        <script src="{% static 'js/script.js'%}"></script>
    </body>
</html>
