{% load static %}
<!DOCTYPE html>
<html lang="pt-BR" data-theme="dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>LIBRE RPG — Nova Campanha</title>
        {# <link rel="stylesheet" href="{% static 'css/style.css' %}"> #}
    </head>
    <body>
        <a href="{% url 'campaign_list' %}">Voltar às campanhas</a>
        <h1>Nova Campanha</h1>

        <form class="form" method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {{ new_campaign_form }}
        </form>
        <b>Você poderá editar a campanha após a criação</b>

        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>
