{% load static %}
<!DOCTYPE html>
<html lang="pt-BR" data-theme="dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>LIBRE RPG — Campanhas</title>
        {# <link rel="stylesheet" href="{% static 'css/style.css' %}"> #}
    </head>
    <body>
        <h1>Suas Campanhas</h1>

        {# Campaign grid - render only if campaigns exist #}
        {% if campaigns %}
        <div>
            {% for campaign in campaigns %}
            {# TODO: Implement a campaign details window when user clicks the card #}
            {# TODO: Remove temporary style #}
            {# Campaign body #}
            <a href="{% url 'players_list' campaign.pk %}" style="display: flex; flex-direction: row; border: 1px solid black; padding: 1vw; gap: 1vw; align-items: center;">
                {# Cover image #}
                <div>
                    {% if campaign.cover_image %}
                    <img src="{{ campaign.cover_image.url }}" alt="Capa de {{ campaign.name }}">
                    {% else %}
                    {# TODO: Find a good placeholder to fill the campaigns without cover #}
                    <p>Imagem da campanha</p>
                    {% endif %}
                </div>

                {# Campaign info #}
                <p>{{ campaign.name }}</p>
                {% if campaign.description %}
                <small>
                    <p>{{ campaign.description }}</p>
                </small>
                {% else %}
                <small>
                    <p>Sem descrição</p>
                </small>
                {% endif %}

                {# Campaign details #}
                <div>
                    {# TODO: Add a profile pic dot to each master (capped at N) #}
                    {% with first_master=campaign.masters.first %}
                    {% if first_master %}
                    <div>
                        {% if first_master.profile.avatar %} {# Tries to render master profile picture #}
                        {# TODO: Check why profile_picture isn't being rendered correctly, too lazy to do it now #}
                        <img src="{{ first_master.profile_picture.url }}" alt="{{ first_master.username }}">
                        {% else %} {# Render the first letter of master as his picture in case of None #}
                        {{ first_master.user.username|first|upper }}
                        {% endif %}
                    </div>
                    <div>{{ first_master.user.username }}</div>
                    {% else %}
                    <div>
                        <div>Sem mestre</div>
                    </div>
                    {% endif %}
                    {% endwith %}
                </div>
            </a>
            {% endfor %}
        </div>
        {% else %} {# When no campaigns exist #}
        <div>
            <h4>Nenhuma campanha encontrada</h4>
            <p>Seja o primeiro a abrir um livro de aventuras</p>
        </div>
        {% endif %}

        {# Create new campaign #}
        <h1>Nova Aventura</h1>
        <a href="{% url 'campaign_creator' %}">Criar Campanha</a>

        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>
