{% extends "base.html" %}

{% block panel_name %}Ficha do personagem{% endblock %}
{% block panel_desc %}Visualize e edite as suas fichas{% endblock %}

{% block content %}
<div>
    {# All characters #}
    <div style="display: flex; flex-direction: column; gap: 2vh;">
        {# Every character shart #}
        <div style="display: flex; flex-direction: column; border: 1px solid black; padding: 1vw 2vw; gap: 4vh;">
            {# TODO: Show character name #}
            <div>
                <h4>[[NOME DO PERSONAGEM]]</h4>
                <b>[[NÍVEL]] | [[CLASSE]] - [[DESCRIÇÃO DA CLASSE]] | [[RAÇA]]</b>
            </div>

            {# TODO: Implement different visuals to better/worse modifiers #}
            <div style="display: flex; flex-direction: row; gap: 1vw; gap: 2vw;">
                <div style="border: 1px solid black; padding: 1vw;">
                    <div>FORÇA</div>
                    <div>[[VAL]]</div>
                    <div>[[MODIFIER]]</div>
                </div>
                <div style="border: 1px solid black; padding: 1vw;">
                    <div>DESTREZA</div>
                    <div>[[VAL]]</div>
                    <div>[[MODIFIER]]</div>
                </div>
                <div style="border: 1px solid black; padding: 1vw;">
                    <div>CONSTITUIÇÃO</div>
                    <div>[[VAL]]</div>
                    <div>[[MODIFIER]]</div>
                </div>
                <div style="border: 1px solid black; padding: 1vw;">
                    <div>INTELIGÊNCIA</div>
                    <div>[[VAL]]</div>
                    <div>[[MODIFIER]]</div>
                </div>
                <div style="border: 1px solid black; padding: 1vw;">
                    <div>SABEDORIA</div>
                    <div>[[VAL]]</div>
                    <div>[[MODIFIER]]</div>
                </div>
                <div style="border: 1px solid black; padding: 1vw;">
                    <div>CARISMA</div>
                    <div>[[VAL]]</div>
                    <div>[[MODIFIER]]</div>
                </div>
            </div>

            {# Character sheet PDF section #}
            <div style="display: flex; flex-direction: column; gap: 10px;">
                <b>[[NOME DO ARQUIVO]].pdf</b><small>*o pdf da ficha deve ser renderizado aqui*</small>
                <button>Editar Ficha</button>
                <button>Baixar PDF</button>
            </div>
        </div>
    </div>

</div>
</div>
{% endblock %}
