{% extends "base.html" %}

{% block panel_name %}Chat{% endblock %}
{% block panel_desc %}Interaja com os jogadores da mesa{% endblock %}

{% block content %}
<div style="display: flex; flex-direction: column; gap: 2vw;">
    <div>
        <p><b>Jogadores online:</b> {{ users_count }}</p>
        {# TODO: Implement last session start datetime #}
        <p><b>Última sessão:</b> [[HORÁRIO DE INÍCIO DA ÚLTIMA SESSÃO]]</p>
    </div>

    {# Examples to each message type possible #}
    {# Chat history #}
    <div style="border: 1px solid black; padding: 2vh 1vw; max-height: 32vh; overflow-y: scroll;">
        {# Default message #}
        <div>
            <small>[[MESSAGE TIME]]</small>
            <b>
                {# TODO: Create random message color system to each user in chat #}
                {% if profile.nickname %}
                {{ profile.nickname}}
                {% else %}
                {{ profile.user.username}}
                {% endif %}
            </b>
            <div>[[MESSAGE TEXT CONTENT]]</div>
        </div>

        {# Temporary message separator #}
        <br>

        {# Player X rolled a dice #}
        <div>
            <div>
                <small>[[MESSAGE TIME]]</small>
                <b>
                    {% if profile.nickname %}
                    {{ profile.nickname}}
                    {% else %}
                    {{ profile.user.username}}
                    {% endif %}
                    <small>Rolou dados</small>
                </b>
                <div>
                    {# N = Number of times dice has been rolled #}
                    {# X = Dice value #}
                    {# Y = Added value at end of roll #}
                    {# Add specific visual to represent a critical roll#}
                    NdX+Y → RESULT
                </div>
            </div>
        </div>

        {# Temporary message separator #}
        <br>

        {# Secret dice roll #}
        <div>
            <div>
                <small>[[MESSAGE TIME]]</small>
                <b>
                    {% if profile.nickname %}
                    {{ profile.nickname}}
                    {% else %}
                    {{ profile.user.username}}
                    {% endif %}
                    <small>Fez uma rolagem oculta</small>
                </b>
            </div>
            {# TODO: Show dice result only for player + master #}
            <span>???</span>
        </div>
    </div>

    {# Chat input #}
    <div>
        <textarea rows="3" placeholder="Descreva sua ação ou escreva... (Enter para enviar)" id="chat-input" onkeydown="handleKey(event)" style="width: -moz-available;"></textarea>
    </div>
    <div style="display: flex; flex-direction: row; gap: 10px;">
        <button onclick="sendMessage()">Enviar</button>
        <div style="display: flex; gap: 10px;">
            <a href="#" onclick="rollDice('d4')">d4</span>
            <a href="#" onclick="rollDice('d6')">d6</span>
            <a href="#" onclick="rollDice('d8')">d8</span>
            <a href="#" onclick="rollDice('d10')">d10</span>
            <a href="#" onclick="rollDice('d12')">d12</span>
            <a href="#" onclick="rollDice('d20')">d20</span>
            <a href="#" onclick="rollDice('d100')">d100</span>
        </div>
    </div>
</div>
{% endblock %}
