{% extends "base.html" %}
{% load static %}

{% block panel_name %}Lista de jogadores{% endblock %}
{% block panel_desc %}Visualize os jogadores conectados nesta campanha{% endblock %}

{% block content %}
<div style="display: flex; flex-direction: column; gap: 4vh; padding: 4vh 0;">
    {# Header #}
    <div style="display: flex; flex-direction: row; gap: 2vw;">
        <div>Pesquise por jogadores ({{ players_list|length }}</span> / {{ players_list|length }})</div>
        <input type="text"
               id="userlist-search"
               placeholder="Buscar aventureiro..."
               oninput="filterUsers(this.value)"
               autocomplete="off"
               />
    </div>

    {# Filter tabs #}
    <div>
        {# TODO: Re-implement query filtering #}
        <button onclick="setFilter('all', this)">Limpar filtros</button>
        {# TODO: Implement filters by masters/players #}
        {% comment %}
        <button class="filter-tab" onclick="setFilter('master', this)">
            Mestres
            <span class="filter-count">{{ masters_count|default:"0" }}</span>
        </button>
        <button class="filter-tab" onclick="setFilter('player', this)">
            Jogadores
            <span class="filter-count">{{ players_count|default:"0" }}</span>
        </button>
        {% endcomment %}
        <button onclick="setFilter('online', this)">Jogadores Online</button>
    </div>

    {# Players grid #}
    <div>
        {# Generate each player card #}
        {% for player, is_master in players_list %}
        <div data-name="{{ player.user.username|lower }} {{ player.nickname|lower|default:'' }}"
             {# TODO: Implement master/player tag #}
             {% comment %}
             data-role="{% if is_master %}master{% else %}player{% endif %}"
             {% endcomment %}
             data-online="{% if player.is_online %}true{% else %}false{% endif %}"
             style="display: flex; border: 1px solid black; padding: 1vw; margin-bottom: 1vw;">

            {# Avatar #}
            <div>
                {# TODO: Implement masters crown icon or another indicator #}
                {% if player.profile_picture %}
                <img src="{{ player.profile_picture.url }}" alt="{{ player.user.username }}" style="width: 80px;"/>
                {% else %}
                <span>{{ player.user.username|first|upper }}</span> {# First letter name in case doesn't have photo#}
                {% endif %}
            </div>

            <div style="display: flex; flex-direction: row; gap: 1vw; align-items: center; margin-left: 1vw;">
                {# Info #}
                <b>@{% if player.nickname %}{{ player.nickname }}{% else %}{{ player.user.username }}{% endif %}</b>

                {% if player.user.is_staff %}
                <p>(Admin)</p>
                {% endif %}

                {# Render player status #}
                <p>{% if is_master %}Master{% else %}Player{% endif %}</p>
                <p>*{% if player.is_online %}Online{% else %}Offline{% endif %}*</p>
            </div>
        </div>
        {% empty %}
        <div>Nenhum jogador encontrado</div>
        {% endfor %}

    </div>

    {# TODO: Invalid query should output this #}
    {# Empty search state (hidden by default) #}
    <div style="display:none;">
        <div>Nenhum resultado para a sua pesquisa...</div>
    </div>

</div>
{% endblock %}
